
  
  .card__article {
    position: relative;
    overflow: hidden;
  }
  .TitleC{
    font-size: 70px;
  padding-bottom: 5cm;
  color: #1d1de7;
  }
 
  .card__data {
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.486);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 2;
    transition: opacity 1s 1s;
  }
  
  .card__description {
    display: block;
    font-size:small;
    margin-bottom: .25rem;
  }
  
  .card__title {
    font-size: medium;
    font-weight: 500;
    margin-bottom: .75rem;
  }
  
  .card__button {
    text-decoration: none;
    font-size: small;
    font-weight: 500;
    color:#1d1de7;
  }
  
  .card__button:hover {
    text-decoration: underline;
  }
  
  /* Naming animations in hover */
  .card__article:hover .card__data {
    animation: show-data 5s forwards;
    opacity: 2;
    transition: opacity .3s;
  }
  
  .card__article:hover {
    animation: remove-overflow 2s forwards;
  }
  
  .card__article:not(:hover) {
    animation: show-overflow 2s forwards;
  }
  
  .card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
  }
  
  /* Card animation */
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-8rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
 